body {background-color: rgb(211, 211, 211);}

.main {position: relative;
    margin: auto;
    width: 70%;
    font-family: 'Marck Script', cursive;
   }

img {
    position: absolute;
    left: 30px;
    top: 10px;
    width: 680px;
   }

.navigation {position: absolute;
    left: 0px;
    top: 0px;

}
input:checked~img {
    display: block;
}
input:checked~label {
    display: block;
}
input:checked~label:nth-of-type(4)>div {
    background-color: rgb(240, 128, 128);
}

div label {display: none;}
.krug {display: block !important;}
input~img {display: none;}
input {display: none;
    }

div>label:nth-of-type(1) {
    position: absolute;
    left: 0px;
    top: 200px;
}
div>label:nth-of-type(2) {
    position: absolute;
    left: 726px;
    top: 200px;
}
div>label:nth-of-type(3) {
    position: absolute;
    left: 260px;
    top: 500px;
}

.krug>div {position: static;
display: inline-block;
margin-left: 5px;
    width: 10px;
    height: 10px;
    border: solid rgb(255,105,180);
    border-radius: 10px;
    }


.krug {position: relative;
float: left;
width: 60px;
height: 20px;
left: 310px;
top: 470px;
}
