.back {margin: auto;
    position: relative;
    width: 25px;
    height: 20px;
}

.back :first-child {margin: 0;
    position: absolute;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    border-radius: 5px;
    border-bottom: solid rgb(255,105,180) 6px;
    border-left: solid rgb(255,105,180) 6px;
}

.back :last-child {margin: 0;
    position: absolute;
    left: -14px;
    top: -1px;
    width: 23px;
    height: 23px;
    border-radius: 3px;
    border-right: solid rgb(255,105,180) 6px;
}
.next {margin: auto;
margin-top: 20px;
    position: relative;
    width: 50px;
    height: 40px;
}

.next :first-child {margin: 0;
    position: absolute;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    border-radius: 5px;
    border-top: solid rgb(255,105,180) 6px;
    border-right: solid rgb(255,105,180) 6px;
}

.next :last-child {margin: 0;
    position: absolute;
    left: 6px;
    top: -1px;
    width: 23px;
    height: 23px;
    border-radius: 3px;
    border-left: solid rgb(255,105,180) 6px;
}
