/*стили для 123*/
/*.one {float: left;}*/
/*.two {float: left;}*/
/*.three {float: left;}*/
/*стили для 132*/
/*.one {float: left; width: 15px;}*/
/*.two { float: left;  margin-left: 15px;width: 15px;}*/
/*.three {float: left; margin-left: -30px; width: 15px;}*/
/*стили для 213*/
/*.one {float: left; margin-left: 20px; width: 15px;}*/
/*.two { float: left; margin-left: -30px; width: 15px;}*/
/*.three {float: none;}*/
/*стили для 231*/
/*.one {float: left; margin-left: 20px; width: 15px;}*/
/*.two { float: left; margin-left: -40px; width: 15px;}*/
/*.three {float: left; margin-left: -28px; width: 15px;}*/
/*стили для 312*/
.one {float: left; margin-left: 20px; width: 15px;}
.two { float: left; margin-left: -28px; width: 15px;}
.three {float: left; margin-left: -40px; width: 15px;}
/*стили для 321*/
/*.one {float: left; margin-left: 20px; width: 15px;}*/
/*.two { float: left; margin-left: -28px; width: 15px;}*/
/*.three {float: left; margin-left: -40px; width: 15px;}*/