body {
    margin: 0;
}

body>div {
    position: relative;
    margin: 10%;
    border-color: rgb(255, 0, 255);
    border-style: double;
    width: 80vw;
      }

.A,
.B,
.C,
.D,
.E,
.F,
.G,
.H {
    position: relative;
   
    }

.B {margin-top: -80vw;
    left: 10vw;
   
}

.C {margin-top: -80vw;
    left: 20vw;

}

.D {margin-top: -80vw;
    left: 30vw;

}

.E {margin-top: -80vw;
    left: 40vw;

}

.F {margin-top: -80vw;
    left: 50vw;

}

.G {margin-top: -80vw;
    left: 60vw;
 
}

.H {margin-top: -80vw;
    left: 70vw;
   
}

.black {
    background-color: rgba(32, 178, 170, 1);
    width: 10vw;
    height: 10vw;
   background-position: center center;
}

.white {
    background-color: rgba(245, 255, 250, 1);
    width: 10vw;
    height: 10vw;
      background-position: center center;
}

.peshkab,
.peshkaw,
.turab,
.turaw,
.konb,
.konw,
.slonb,
.slonw,
.ferzb,
.ferzw,
.korolb,
.korolw {
    position: absolute;
    width: 48px;
    height: 48px;
        background-position: center center;
        vertical-align: middle;
}
.korolw {background-image: url(img/chess.png);
    background-position: 4px -49px;
    background-repeat: no-repeat;
    
}
.korolb {background-image: url(img/chess.png);
    background-position: 4px 4px;
    background-repeat: no-repeat;

    
}
.ferzw {background-image: url(img/chess.png);
    background-position: -48px -49px;
    background-repeat: no-repeat;
}
.ferzb {background-image: url(img/chess.png);
    background-position: -48px 4px;
    background-repeat: no-repeat;
}
.turaw {background-image: url(img/chess.png);
    background-position: -102px -49px;
    background-repeat: no-repeat;
}
.turab {background-image: url(img/chess.png);
    background-position: -102px 4px;
    background-repeat: no-repeat;
}
.slonw {background-image: url(img/chess.png);
    background-position: -156px -49px;
    background-repeat: no-repeat;
}
.slonb {background-image: url(img/chess.png);
    background-position: -156px 4px;
    background-repeat: no-repeat;
}
.konw {background-image: url(img/chess.png);
    background-position: -208px -49px;
    background-repeat: no-repeat;
}
.konb {background-image: url(img/chess.png);
    background-position: -208px 4px;
    background-repeat: no-repeat;
}
.peshkaw {background-image: url(img/chess.png);
    background-position: -262px -49px;
    background-repeat: no-repeat;
}
.peshkab {background-image: url(img/chess.png);
    background-position: -262px 4px;
    background-repeat: no-repeat;
}