body {margin-top: 5vh;
    margin-left: 20vw;
}
.line {display: flex;
    width: 56vw;
}
.black {width: 7vw; height: 7vw;
    background-color: rgb(240, 170,170);
  
}
.white {width: 7vw; height: 7vw;
    background-color: rgb(170, 170,170);
}
.black:nth-of-type(1) {order:1;}
.black:nth-of-type(2) {order:3;}
.black:nth-of-type(3) {order:5;}
.black:nth-of-type(4) {order:7;}
.white:nth-of-type(5) {order:2;}
.white:nth-of-type(6) {order:4;}
.white:nth-of-type(7) {order:6;}
.white:nth-of-type(8) {order:8;}
.line:nth-of-type(odd) {flex-direction: row;}
.line:nth-of-type(even) {flex-direction: row-reverse;}
