.main {
    position: relative;
    margin: auto;
    border-style: double;
    border: solid rgb(255, 0, 255) 1px;
    width: 60%;
    padding-top: 60%;
  }

.main>div {
    position: absolute;
}

div>.black {
    background-color: #333;
    width: 12.5%;
    padding-top: 12.5%;
}

div>.white {
    background-color: #DDD;
    width: 12.5%;
    padding-top: 12.5%;
}

.col1 {
    left: 0;
   
}

.col2 {
    left: calc(100%*1/8);
}

.col3 {
    left: calc(100%*2/8);
}

.col4 {
    left: calc(100%*3/8);
}

.col5 {
    left: calc(100%*4/8);
}

.col6 {
    left: calc(100%*5/8);
}

.col7 {
    left: calc(100%*6/8);
}

.col8 {
    left: calc(100%*7/8);
}
.rol1 {top: 0;}
.rol2 {top: calc(100%*1/8);}
.rol3 {top: calc(100%*2/8);}
.rol4 {top: calc(100%*3/8);}
.rol5 {top: calc(100%*4/8);}
.rol6 {top: calc(100%*5/8);}
.rol7 {top: calc(100%*6/8);}
.rol8 {top: calc(100%*7/8);}
