body {
    margin: 0;
    background-image: url(img/bg1.png);
    /*background-repeat: repeat;*/
    /*это значение по умолчанию*/
}

div {
    margin: 0;
    width: auto;
}
.main {margin: }

.middle {
    width: calc(100vw - 34px);
    height: 24px;
    float: left;
    background-image: url(img/pencil-bg.png);
    background-position: left bottom;
}

.top {
    height: 24px;
    width: 34px;
    float: left;
    vertical-align: bottom;
}
